In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error, r2_score

ModuleNotFoundError: No module named 'sklearn'

In [3]:
data_test = pd.read_csv('pzn-rent-test.csv')
data_train = pd.read_csv('pzn-rent-train.csv')
data_merged = pd.concat([data_train, data_test])
data_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16139 entries, 0 to 4841
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  16139 non-null  int64
 1   ad_title            16139 non-null  object
 2   date_activ          16139 non-null  object
 3   date_modif          16139 non-null  object
 4   date_expire         16139 non-null  object
 5   individual          14545 non-null  object
 6   price               11297 non-null  float64
 7   flat_area           14415 non-null  float64
 8   flat_rooms          14397 non-null  float64
 9   flat_furnished      14208 non-null  object
 10  flat_rent           16139 non-null  int64
 11  flat_deposit        16139 non-null  float64
 12  flat_for_students   13594 non-null  object
 13  building_floor_num  16139 non-null  int64
 14  flat_balcony        14209 non-null  object
 15  flat_utility_room   16139 non-null  bool
 16  flat_garage         14208 non-null  object
 17  flat_basement       16139 non-null  bool
 18  flat_garden         14208 non-null  object
 19  flat_tarrace        16139 non-null  bool
 20  flat_lift           16139 non-null  bool
 21  flat_two_level      16139 non-null  bool
 22  flat_kitchen_sep    16139 non-null  bool
 23  flat_air_cond       16139 non-null  bool
 24  flat_nonsmokers     16139 non-null  bool
 25  flat_washmachine    16139 non-null  bool
 26  flat_dishwasher     14208 non-null  object
 27  flat_fridge         16139 non-null  bool
 28  flat_cooker         16139 non-null  bool
 29  flat_oven           16139 non-null  bool
 30  flat_internet       11017 non-null  object
 31  flat_television     16139 non-null  bool
 32  flat_anti_blinds    16139 non-null  bool
 33  flat_monitoring     16139 non-null  bool
 34  flat_closed_area    13594 non-null  object
 35  quarter             14209 non-null  object
dtypes: bool(15), float64(4), int64(3), object(14)
memory usage: 2.9+ MB

In [ ]:
data_dropped = data_merged.dropna()
data_dropped.count()
data_merged.count()

id                    16139
ad_title              16139
date_activ            16139
date_modif            16139
date_expire           16139
individual            14545
price                 11297
flat_area             14415
flat_rooms            14397
flat_furnished        14208
flat_rent             16139
flat_deposit          16139
flat_for_students     13594
building_floor_num    16139
flat_balcony          14209
flat_utility_room     16139
flat_garage           14208
flat_basement         16139
flat_garden           14208
flat_tarrace          16139
flat_lift             16139
flat_two_level        16139
flat_kitchen_sep      16139
flat_air_cond         16139
flat_nonsmokers       16139
flat_washmachine      16139
flat_dishwasher       14208
flat_fridge           16139
flat_cooker           16139
flat_oven             16139
flat_internet         11017
flat_television       16139
flat_anti_blinds      16139
flat_monitoring       16139
flat_closed_area      13594
quarter               14209
dtype: int64